In [1]:
# Importing Pandas and Numpy Libraries.

import pandas as pd
import numpy as np

In [2]:
# Accessing data from budget_data.csv

df = pd.read_csv('budget_data.csv')

In [3]:
#Running a quick check!

df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#Assigning values to variables by collecting data from budget_data.csv

profit_List = list(df['Profit/Losses'])
profit_date = df['Date']
Total_Profit = df['Profit/Losses'].sum()
Total_Months = df['Date'].count()
Monthly_profit = []

# Determining month to month profit/losses by subtracting value A out of Value B

for i in range(len(df)-1):
    PA = profit_List[i]
    PB = profit_List[i+1]
    Monthly_profit.append(PB-PA)
    
# Max, Min and mean functions

    min_profit = min(Monthly_profit)
    max_profit = max(Monthly_profit)  
    average_change = round(np.mean(Monthly_profit), 2)

In [5]:
# Analysing index number to determine the value.

Max_Profit_Index = Monthly_profit.index(max(Monthly_profit)) + 1 
Min_Profit_Index = Monthly_profit.index(min(Monthly_profit)) + 1

Max_Profit_Index

25

In [6]:
Min_Profit_Index

44

In [7]:
# Replacing index by its value

Max_Profit_Date = df.Date[25]
Min_Profit_Date = df.Date[44]

In [9]:
# Print Statement and exporting output to .txt file
f = open("FinacialAnalysis.txt", "a")

print("Financial Analysis \n----------------------------------\n", file=f)
print("Your profit is: $" + str(Total_Profit), file=f)
print("Total Months: " + str(Total_Months), file=f)
print("Average Change: $ " + str(average_change), file=f)
print("Greatest Increase in Profits: " + Max_Profit_Date + " $" + str(max_profit), file=f)
print("Greatest Decrease in Profits: " + Min_Profit_Date + " $" + str(min_profit), file=f)
f.close()